<button routerLink="add">tambah data</button>
<table>
  <thead>
    <tr>
      <th>Nomer</th>
      <th>Nama</th>
      <th>Tahun</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ car.nama }}</td>
      <td>{{ car.tahun }}</td>
      <td>  
        <button [routerLink]="['edit', car.id]">edit</button>
        <button (click)="onDelete(car.id, car.nama)">delete</button>
      </td>
    </tr>
  </tbody>
</table>