<button routerLink="/">Kembali</button>
<div style="margin-top: 10px">
  <form [formGroup]="form" (submit)="onSubmit()">
    Nama: <input type="text" formControlName="nama">
    <br>
    Tahun: <input type="text" formControlName="tahun">
    <br>
    <br>
    <button type="submit">submit</button>
  </form>
</div>